<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Doodads - Home</title>
	<meta name="viewport" content="width=device-width, intitial-scale=1.0">
	<link rel="stylesheet" href="styles/doodad-style.css">
	<link rel="icon" href="images/Blue_square_D.PNG">
</head>
<body>
<header>
	<!-- Navigation Bar -->
	<%- include('partials/nav') %>
</header>
<main>
	<div>
		<h2>Listings:</h2>
		<div class="feed">
			<% items_feed.forEach(item =>{ %>
			<% if(item.sold=="0") { %>
				<% const link = "/item?id=" + item.id; %>
			<a class="listing-tile" href="<%= link %>">
				<div>
					<img src="<%= item.img %>" alt="picture">
					<h3><%= item.name %></h3>
					<h3 class="listing-price">$<%= item.price %></h3>
					<p><%= item.item_desc %></p>
				</div>
			</a>
			<% }}); %>
		</div>
		<h2>Sold</h2>
		<div class="feed">
			<% items_feed.forEach(item =>{ %>
			<% if(item.sold=="1") { %>
				<% const link = "/item?id=" + item.id; %>
			<a href="<%= link %>" class="listing-tile">
				<div>
					<img src=<%= item.img %> alt="picture">
					<h3><%= item.name %></h3>
					<h3 class="listing-price">$<%= item.price %></h3>
					<p><%= item.item_desc %></p>
				</div>
			</a>
			<% }}); %>
		</div>
	</div>
</main>
</body>
</html>
