<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/doodad-style.css" />
    <title>Doodads - Item Posted</title>
</head>
<body>
    <!-- Navigation Bar -->
    <header><%- include('partials/nav') %></header>
    <h1>Item Posted!</h1>

    <!-- const item = {
        img: req.body.img,
        name: req.body.name,
        price: req.body.price,
        desc: req.body.desc,
        timestamp: new Date()
    } -->
    <div>
        <img src=<%= item.img %> alt="item imgage">
        <p><%= item.name %></p>
        <p><%= item.price %></p>
        <br>
        <p>discription:</p>
        <p><%= item.desc %></p>
    </div>

</body>
</html>