<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/doodad-style.css">
    <title>Doodads - Item Posted</title>
</head>
<body>
    <!-- Navigation Bar -->
    <header>
        <%- include('partials/nav') %>
    </header>
    <div class="listing">
      <div class="showcase showcase-sold">
        <img src=<%= item.img %> alt="main picture">
      </div>
      <br>
      <h2><%= item.name %> <h2 class="published-text">PUBLISHED</h2></h2>
      <h1>$<%= item.price %></h1>
      <p><%= item.item_desc %></p>
      <h3>You will be contacted by the buyer.</h3>
    </div>

</body>
</html>