<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodads - <%= item.name %></title>
    <link rel="stylesheet" href="styles/doodad-style.css">
    <link rel="icon" href="images/Blue_square_D.PNG">
</head>
<body>
  <header>
    <!-- Navigation Bar -->
    <%- include('partials/nav') %>
  </header>
    

    <div class="listing">
      <div class="showcase showcase-sold">
        <img src=<%= item.img %> alt="main picture">
      </div>
      <br>
      <h2><%= item.name %> <h2 class="sold-text">SOLD</h2></h2>
      <h1>$<%= item.price %></h1>
      <p><%= item.item_desc %></p>
      <h3>Contact: <%= item.email %> to complete purchase</h3>
    </div>
    
</body>
</html>